
body {
	font-family: sans-serif; 
	font-size: 14px;
}

.userfunnel{  
    width:300px;
    box-sizing: border-box;
    margin:75px auto;
}

.userfunnel .txt{ 
    width:100%;
    padding:0;
}

.userfunnel .confirm{
	text-align: center;
	display:none;
}

.userfunnel.thanks .txt,
.userfunnel.thanks #login-container-ss{ 
	display:none;
}
.userfunnel.thanks .confirm{
	display:block;
}

.auth0-lock.auth0-lock .auth0-lock-content{
   padding:0; 
   box-sizing: border-box;
}

.auth0-lock-header, 
.auth0-lock-pane-separator,
.auth0-lock-submit span{
    display:none !important;
}


.auth0-lock-input-email{
    margin:10px 0 0 0;
}

.auth0-lock.auth0-lock .auth0-lock-submit{
    width:300px;
    margin:0 auto;
    text-align: center;
 
}
.auth0-lock-submit:before{
    content:"Sign Up";
    font-weight: 500;
    border-radius: none !important;
}